*{
    font-family: 'Poppins';
}

.image-container:hover img{
    scale: 1.2;
    transition: 0.9s;
}

.image-container img{
    transition: 0.9s;
}

.warning-toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #C2410C;
    top: 60px;
    animation: anim 8s linear forwards;
  }

  .success-toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #166534;
    top: 60px;
    animation: anim 8s linear forwards;
  }

  .error-toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #991B1B;
    top: 60px;
    animation: anim 8s linear forwards;
  }

  @keyframes anim {
    
    100%{
      width: 0;
    }

  }

  .videobtn-anim{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    -webkit-animation: 1s linear infinite ripple-white;
    animation: 1s linear infinite ripple-blue;
    -webkit-transition: .5s;
    background: #ce014e;
    font-size: 16px;
    z-index: 1;
  }